<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8" />
  <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <meta name="description" content="alternate UI" />
  <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
  <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
  <title>TCG Rules Simulator 2</title>
</head>

<body>



  <ul>Quick start
    <li><b>You have to press "Send" or "Tick" to first populate the game after loading the page.</b></li>
    <li>All user-input happens in the UI box at the top.</li>
    <li><img style="max-width:200px; height:auto" src="/public/images/choose.png"></li>
    <li>If you need to choose something (which effect, which target, to block) it'll be in that same list.</li>
    <li><img style="max-width:200px; height:auto" src="/public/images/mobile.png"></li>
    <li>The game will auto-play all the rules quickly, and you'll see the endstate on the board while it pops up
      messages saying what happened. This is probably more user-friendly than before when you had to manually
      'tick' each step of the game.
    <li>You may still need to press "TICK" once certain places to move the game forward. <b>Basically, if "TICK"
        is blue, press it</b> or else answer the waiting question.</li><img style="max-width:200px; height:auto"
      src="/public/images/tick.png">
    <li>The egg zone will have a pixel-art background, if it exists. The trash will have a black background, if
      it
      exists.</li><img style="max-width:200px; height:auto" src="/public/images/field.png">
    <li>You can't see your security or deck, but the lengths are posted in the log at the start of each turn
    </li>
    <li>Because ST15 versus ST16 has no interruptive effects, and those were very important to test, I made up
      Armormon (Agumon with Armor Purge), and then gave Matt Piercemon (Garurumon that pierces) for balance.
      OC DO
      NOT STEAL!!1one </li>
  </ul>
  <h2>Got that? Great, get started!</h2>
  <p>There is no mulligan, your opening hand may suck. <a href="#mulligan">See below</a> for why.</p>
  <script>
    function buildURL() {
      const params = new URLSearchParams(window.location.search);
      const word = params.get('word');

      const baseUrl = "/build/index.html?pid=1&gid=" + word;
      const select1 = document.getElementById("p1");
      const select2 = document.getElementById("p2");

      const option1 = select1.value;
      const option2 = select2.value;

      const url = `${baseUrl}${option1}and${option2}andbot2`;
      window.location.href = url; // Redirect to the constructed URL

    }
  </script>

  <select id="p1">
    <option value="duke1">RED Gallantmon ST7</option>
    <option value="vee1">BLUE Ulforceveedramon ST8</option>
    <option value="green1">GREEN Double Typhoon ST17 only ST17 cards</option>
    <option value="greenx1">GREEN Double Typhoon with cards outside ST17</option>
    <option value="tai1" SELECTED>BLACK Dragon of Courage ST15</option>
    <option value="matt1">PURPLE Wolf of Friendship ST16</option>
  </select>
  <select id="p2">
    <option value="duke2">RED Gallantmon ST7</option>
    <option value="vee2">BLUE Ulforceveedramon ST8</option>
    <option value="green2">GREEN Double Typhoon ST17 only ST17 cards</option>
    <option value="greenx2">GREEN Double Typhoon with cards outside ST17</option>
    <option value="tai2">BLACK Dragon of Courage ST15</option>
    <option value="matt2" SELECTED>PURPLE Wolf of Friendship ST16</option>
  </select>
  <button onclick="buildURL()">Start</button>

  <h2> Set your whole deck </h2>

  <form method=POST action="/game/init_game">

    <table>
      <tr>
        <td>
          You can describe cards by card ID...<br>
          <textarea rows=10 cols=66 name=p1string>
ST16-01 ST16-01 ST16-01 ST16-01
ST16-02 ST16-03 ST16-03 ST16-03 ST16-03 ST16-04 ST16-04 ST16-04
ST16-04 ST16-05 ST16-05 ST16-05 ST16-05 ST16-06 ST16-06 ST16-06
ST16-17 ST16-07 ST16-07 ST16-07 ST16-17 ST16-08 ST16-08 ST16-09
ST16-09 ST16-09 ST16-09 ST16-10 ST16-10 ST16-10 ST16-10 ST16-11
ST16-11 ST16-12 ST16-12 ST16-13 ST16-13 ST16-13 ST16-13 ST16-14
ST16-14 ST16-14 ST16-14 ST16-15 ST16-15 ST16-16 ST16-16 ST16-16
ST16-16 P-PurpleMemory  
    </textarea><br>
          Separate by whitespace or comma, either works.
        </td>
        <td>
          You can also describe by set and unique prefix. Mix and match!<br>
          <textarea rows=10 cols=60 name=p2string>
 ST18-Fluffy,ST18-Fluffy,ST18-Fluffy,ST18-Fluffy
 
 ST18-Biyomon ST18-Biyomon ST18-Biyomon ST18-Biyomon ST18-Falcomon 
 ST18-Falcomon ST18-Falcomon ST18-Falcomon ST18-Pteromon 
 ST18-Pteromon ST18-Muchomon ST18-Muchomon ST18-Muchomon ST18-Muchomon ST18-Kiwimon
 ST18-Kiwimon ST18-Kiwimon ST18-Kiwimon ST18-Kokatorimon ST18-Kokatorimon ST18-Kokatorimon ST18-Kokatorimon ST18-Galemon ST18-Galemon ST18-Deramon ST18-Deramon ST18-Deramon ST18-Deramon ST18-GrandGalemon ST18-GrandGalemon ST18-Parrotmon ST18-Parrotmon ST18-Parrotmon ST18-Parrotmon ST18-Zephagamon ST18-Zephagamon ST18-Eaglemon ST18-Eaglemon ST18-Eaglemon ST18-Eaglemon ST18-Shoto ST18-Shoto ST18-Shoto ST18-Shoto ST18-Anemoi ST18-Anemoi ST18-Anemoi ST18-Anemoi P-GreenMemoryBoost P-GreenMemoryBoost
</textarea><br>
</td>
    <td>
        <input type=checkbox id=bot1 name=bot1 value=1 /><label for="bot1">Player 1 is bot</label>
        <br/>
        <input type=checkbox id=bot2 name=bot2 value=1 /><label for="bot2">Player 2 is bot</label>
        <br/>
        <select name="launch" id="launch">
          <option value="1">Launch player 1 window</option>
          <option value="2">Launch player 2 window</option>
          <option value="3">Go to redirect for launching both</option>      
        </select>
        <p>
          <button type=submit value=go>GO!</button>
      </tr> 
</table>
  </form>

    <h1>Creative Mode</h1>
    <a href="creative.html">Here it is</a> with several challenges.

    <p>You can compose a challenge to give to your friends. Helpful for learning those weird edge cases.</p>

    <h1> Other stuff</h1>

  <p>If you want to try, open <a href="/build/index.html?gid=<%= word %>&pid=1">this </a> in one tab and <a
      href="/build/index.html?gid=<%= word %>&pid=2">this</a> in another. There's no
      mulligan right now, osrry.</p>
  <h2>Recent Changes</h2>

  <h2>Feedback</h2>
  <p>On Discord for now <a href="https://discord.gg/R9bK5Y8M">invite link</a> or reach out to the team member
    who
    helped you</p>
  <p>Say stuff you want, there's a suggested list of requests down below</p>
  <h2>Bugs</h2>
  <p>If you try to break the software by messing with the inputs you'll succeed and it won't be interesting.
    If
    you
    breaking the game logic by playing a weird set of cards, that <b>is</b> interesting.</p>
  <ul>Known bugs
    <li>ST8 goldrapidmon's first effect always targets 1 regardless of tamer count</li>
    <li>Searchers where you can pick 1 A and 1 B don't currently validate your choices if you choose 2 A
    </li>
    <li>ST17 Henry's Bio-Merge is broken, will probably hold off on this one for a bit</li>
    <li>Return-to-hand has 2 bugs: Rapidmon's immunity not applying, and the bounced instance remains able
      to respond</li>
  </ul>

  <ul>Reproducing issues
    <li>Each gid uses the same random seed at same start for debugging purposes. If you want it to be really
      random,
      start the gid with "rand". If you want both players to have the same seed (meaning they'll get a
      similar
      mix
      of levels, tamers, and options) prefix the seed with "same". </li>
    <li>You can reset the game by putting "reset" in the instruction box in the top left and hitting Send.
    </li>
  </ul>

</body>

</html>