/* App.css */
.game-field {
  position: absolute; /* Anchored to the left edge */
  left: 0;
  width: 800px;
  height: 1120px;
  background-image: url('./background.png');
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
}

.player-area {
  position: absolute;
}

.player-area.top {
  top: 0; /* Align at the top */
  width: 100%; /* Full width to avoid scrolling */
}

.player-area.bottom {
  bottom: 0; /* Align at the bottom */
  width: 100%; /* Full width to avoid scrolling */
}

.hand {
  position: absolute;
  bottom: -10%;
  width: 500px; /* Fixed width to fit the cards in */
  display: flex;
  justify-content: flex-start;
}



.card2 {
  height: 150px;
  object-fit: cover;
  margin-left: -40px; /* Negative margin for overlap */
}

.card {
  width: 100px; 
  height: 150px;
  object-fit: cover;
  position: absolute; /* Ensure absolute positioning */
}

.text-overlay {
  position: absolute; /* Position the text on top */
  top: 0; /* Align to top */
  left: 0; /* Align to left */
  color: white; /* Adjust color and other styles as needed */
  z-index: 8000;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Semi-transparent background */
}

/* display messages */
.popup {
  /* Default styles for the popup */
  opacity: 1; /* Ensure full opacity initially */
  transition: opacity 0.2s ease-in-out; /* Transition for opacity change */
  background-color: white;
/*  border: 2px solid black;*/
  padding: 50px;
  color: brown;
  font-size: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-Index:123;
}

.popup.hide {
  opacity: 0; /* Target opacity for the hidden state */
}

.inputbox {
  position: absolute;
  z-index: 9999;
  top: 370px;
}

.gamestate {
  z-index: 200;
  position: relative;
  max-width: 180px;
  background-color: rgb(230, 192, 192);
  border: 2px solid black;
  font-variant-numeric: tabular-nums;


}



.overlay_popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 600px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  cursor: pointer;
}

/* counter */

.counter {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 10px solid red; /* This makes the circle's border red */
  border-radius: 50%;
  background-color: transparent;
  transition: left 0.5s ease-in-out;
}

.keyword {
  background: rgba(176, 64, 16, 0.5);
  color: white;
  font-weight: bold;
}


.dp {
  color: blue;
/* how to style DP? */
}


.temp { 
  background: rgba(158, 242, 162, 0.5);
  color: black;
  font-weight: bold;
}

.status { 
  background-color: rgb(226, 239, 140, 0.5);
  color: black;
  font-weight: bold;
  font-variant-numeric: tabular-nums;
}

