/* App.css */
.game-field {
  position: relative; /* changed Anchored to the left edge */
  left: 0;
  width: 800px;
  height: 1120px;
  background-image: url('./background.png');
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
  z-index: 10;
}

.player-area {
  position: absolute;
}

.player-area.top {
  top: 0; 
  width: 100%; 

}

.player-area.bottom {
  top: 0; 
  width: 100%; 
}

.hand {
  position: absolute;
  bottom: -10%;
  width: 500px; /* Fixed width to fit the cards in */
  display: flex;
  justify-content: flex-start;
}


.wrapperUNUSED {
  position: relative; /* Enable absolute positioning for child elements */
}


.card2 {
  height: 150px;
  object-fit: cover;
  margin-left: -40px; /* Negative margin for overlap */
}

.card {
  width: 100px; 
  height: 150px;
  object-fit: cover;
  position: absolute; /* Ensure absolute positioning */
}

.dp-overlay {
  position: absolute; /* Position the text on top */
  top: 0; /* Align to top */
  left: 0; /* Align to left */
  color: white; /* Adjust color and other styles as needed */
  font-family: 'VT323', 'Consolas', monospace;
  font-size: 24px;
  text-align: center;
  z-index: 900;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.8); 
}

.detail-overlay {
  position: absolute; 
  bottom: 0; 
  left: 0; 
  color: white; 
  font-size: 8px;
  z-index: 900;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.5); 
}

.text-overlay {
  position: absolute; 
  top: 0; 
  left: 0; 
  color: white; 
  font-size: 8px;
  z-index: 900;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.5); 
}

/* display messages */
.popup {
  /* Default styles for the popup */
  opacity: 1; /* Ensure full opacity initially */
  transition: opacity 0.2s ease-in-out; /* Transition for opacity change */
  background-color: white;
/*  border: 2px solid black;*/
  padding: 50px;
  color: brown;
  font-size: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-Index:123;
}

.popup.hide {
  opacity: 0; /* Target opacity for the hidden state */
}

/* modals should be on top-top, +2000
   input box should be top of what's left, say 1200
   */
.inputbox {
  position: absolute;
  z-index: 1200;
  top: 370px;
}

.gamestate {
  z-index: 950;
  position: relative;
  max-width: 180px;
  background-color: rgb(230, 192, 192);
  border: 2px solid black;
  font-variant-numeric: tabular-nums;


}




.UNUSED_overlay_popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 600px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 850;
  cursor: pointer;
}

/* counter */

.counter {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 10px solid red; /* This makes the circle's border red */
  border-radius: 50%;
  background-color: transparent;
  transition: left 0.5s ease-in-out;
}

.keyword {
  background: rgba(176, 64, 16, 0.5);
  color: white;
  font-weight: bold;
}


.dp {
  color: blue;
/* how to style DP? */
}


.temp { 
  background: rgba(158, 242, 162, 0.5);
  color: black;
  font-weight: bold;
}

.status { 
  background-color: rgb(226, 239, 140, 0.5);
  color: black;
  font-weight: bold;
  font-variant-numeric: tabular-nums;
}



.delete-me {

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column; 
  align-items: center; 

}

/* Styling for the parent div */
.reveal {
  position: absolute;
  top: 150px;
  left: 200px;
  width: 1000px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 95%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.revtable {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Styling for the images */
.revtable img {
  transform: scale(2); /* Scale images to 200% */
  margin: 0 5px; /* Adjust margin as needed to control spacing between images */
  opacity: 95%;
}



.reveal_X {
  position: absolute;
  background-color: white;
  top: 200px;
  left: 200px;

  width:1000px;
  height:500px;
  

  
  opacity: 80%;
  /* Adjust these values as needed to position the Reveal component correctly */
  z-index: 9999; /* Ensure it appears on top */
  background-color: rgba(255, 255, 255, 0.8); /* Optional: semi-transparent background */

}

.revtable_X {
   width: 100%;                                                                                                          
  max-height: 100%;                                                                                                                 
  overflow-y: auto;                                                                                                                 
  }
  

.reveal_X > * {
  transform: scale(1.0); 
}


.top-element {
  position: fixed; /* or absolute depending on your needs */
  top: 0; /* Adjust position as necessary */
  left: 0; /* Adjust position as necessary */
  z-index: 9999; /* Very high value to ensure it stays on top */
}

.modal-image {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  max-height: 100vh; /* Restrict the height to the viewport height */
  object-fit: contain; /* Ensure the entire image is visible */
  touch-action: manipulation; /* Allow pinch-to-zoom */
  display: block; /* Ensure the image behaves like a block element */
  margin: auto; /* Center the image */
}





@media (max-width: 768px) {
  .modal-content {
      transform: scale(3.5); 
  }
}
/*
@media (max-width: 480px) {
  .modal-image {
      transform: scale(2); 
  }
}
*/
