.log-container {
    width: 400px;
    height: 250px;
    background-color: #fff;
    color: #000;
    font-family: 'VT323', 'Consolas', monospace;
    font-size: 24px;
/*    border: 1px solid #0f0; */
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    justify-content: flex-end; /* Align content to the bottom */
  /*  left: 900px;  */

}


/* Style the log-content div to handle overflow */
.log-content {
    max-height: 70vh; /* Ensure the log content doesn't overflow the modal */
    overflow-y: auto; /* Enable vertical scrolling */
}

/* Ensure preformatted text also handles overflow correctly */
.log-content pre {
    white-space: pre-wrap; /* Wrap long lines */
    word-wrap: break-word; /* Break words if needed */
}

.log-content2 {
    position: fixed;
    overflow-y: auto; /* Enable scrolling */
    z-index: 1001;
}

.log-body {
    flex: 1;
    overflow-y: auto; /* Enable scrolling */
    padding: 10px;
    position: relative;
    background: linear-gradient(to bottom, transparent, #fff); /* Adjust for fading */
    display: flex;
    flex-direction: column; /* Ensure normal order */
}

.log-entry {
    opacity: 1;
    transition: opacity 0.5s ease;
    margin-bottom: 5px; /* Add space between log entries */
}

.label {
    text-decoration: underline;
    cursor: pointer;
}
.full-text {
    display: none;
}
